<h1>My tasks</h1>
<div class='list'>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item">
        <% if task.completed %>
          <i class="fa-regular fa-square-check"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>

        <%= link_to task.title, task_path(task), class: 'text-decoration-none' %>
        <%= link_to task_path(task),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-regular fa-trash-can"></i>
        <% end %>
        </li>
    <% end %>
  </ul>
</div>

<div class='container'>
  <i class="fa-regular fa-square-plus"></i>
  <%= link_to 'Add a new task', tasks_new_path, class: 'text-secondary text-decoration-none'%>
</div>
